#expenditure-header {
    font-size: 20px;
}
#budget-table {
    border-collapse:separate;
    border-spacing:1em;
}

#first-row {
    padding-bottom: 1em;
}

#salary-field {
    padding-left: 5px;
}

#expenditure-row {
    padding-bottom: 5em;
}

#salary-column {
    padding-left: 1em;
}

#submit-column {
    padding-left: 2em;
}