h1 {
  font-family: sans-serif;
}

.hoodLabel{
  font-weight: bold;
  background: rgba(255, 255, 255, 0);
  border:0;
  border-radius:0px;
  box-shadow: 0 0px 0px;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;

}
