@import url("https://fonts.googleapis.com/css?family=Aleo:700|Montserrat:500");

#map {
  height: 75%;
}

/* Optional: Makes the sample page fill the window. */

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Montserrat";
  vertical-align: center;
}

.maps-button {
  margin-top: 1%;
}
.maps-button button {
  margin-left: 1%;
}
