
body {
    margin: 0;
    padding: 0;
}
.container {
    padding-top: 100px;
}

.nav ul {
    list-style: none;
    background-color: #444;
    text-align: left;
    padding: 0;
    margin: 0;
}
.nav li {
    font-family: 'Oswald', sans-serif;
    font-size: 1em;
    line-height: 50px;
    height: 50px;
    text-align: center;
    border-bottom: 1px solid gray;

}

.title {
    line-height: 50px;
    height: 50px;
    text-align: left;
    background-color: white;

}

.title-text {
    font-family: 'Oswald', sans-serif;
    font-size: 2em;
    color: black;
    padding-left: 0px;

}

.nav a {
    text-decoration: none;
    color: #fff;
    display: block;
    transition: .3s background-color;
}

.nav a:hover {
    background-color: lightgray;
    color: black;
}

.nav a.active {
    background-color: #fff;
    color: #444;
    cursor: default;
}

@media screen and (min-width: 600px) {
    .nav li {
        width: 120px;
        border-bottom: none;
        height: 50px;
        line-height: 50px;
        font-size: 1.4em;
    }

    /* Option 1 - Display Inline */
    .nav li {
        display: inline-block;
        margin-right: 0px;
    }

    #background {
        width: 100%;
        height: 100%;
        position: fixed;
        left: 0px;
        top: 0px;
        z-index: -1; /* Ensure div tag stays behind content; -999 might work, too. */
    }

    .stretch {
        width:100%;
        height:100%;
    }

    .buttons {
        height: 300px;
        width: 300px;
        color: white;
    }
    /* Options 2 - Float
    .nav li {
      float: left;
    }
    .nav ul {
      overflow: auto;
      width: 600px;
      margin: 0 auto;
    }
    .nav {
      background-color: #444;
    }
    */
}



/* Add a black background color to the top navigation */
.topnav {
    background-color: #444;
    overflow: hidden;
    padding-top: 50px;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Oswald', sans-serif;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: lightgray;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #fff;
    color: #444;
    cursor: default;
}