@import url('https://fonts.googleapis.com/css?family=Aleo:700|Montserrat:500');


.App {
  text-align: center;
}

body{
  background-color: #fffffa !important;
}

  
.navbar {
  background-color: #2d3142!important;
  font-size: 30px;
  font-family: 'Aleo';
  padding-left:7.5% !important;
  padding-right:7.5% !important;
}
.text-logo{
  display:inline-block;
}

.navbar b{
  margin-left: .75%;
  color: #fffffa !important;
}
.navbar a{
  color: #fffffa !important;
  font-size: 15px !important;
  font-family: 'Montserrat';
}
.navbar a:hover{
  color: #bfc0c0 !important;
}

.main-content{
  margin-top: 1%;
  background-color: #fffffa;
}
.main-content h1{
  text-align: left;
  font-family: 'Montserrat';
  font-size: 25px;
  color:#ef8354;
}
