@import url("https://fonts.googleapis.com/css?family=Aleo:700|Montserrat:500");

#mapBox {
  height: 75%;

  width: 100%;
}
#map {
  height: 100%;
  width: 75%;
  margin-left: 1%;
  float: left;
}
#neighborhoodInfo {
  margin-left: 77%;
  color: #083763;
}
#neighborhoodInfo button {
  color: #083763;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Montserrat";
  vertical-align: center;
}

h2 {
  font-family: "Montserrat";
}
h3 {
  font-family: "Montserrat";
}
h4 {
  font-family: "Montserrat";
}
h5 {
  font-family: "Montserrat";
  color: #36454f;
}
.mapTitle {
  margin-left: 1%;
}

.maps-button {
  margin-top: 1%;
}
.maps-button button {
  margin-left: 1%;
}
